*.njsproj
*.ntvs*
*.sln
*.suo
.classpath
.DS_Store
.env.*.local
.env.local
.factorypath
.idea
.project
.settings/
.vscode
/application.yml
dist/
eslint-report.json
node/
node_modules/
npm-debug.log*
target/
/static/
yarn-debug.log*
yarn-error.log*
/firefox-profile/
